extends email-layout

block content
  h2 Сброс пароля
  p Привет. Вы запросили сброс пароля. Нажмите кнопку, чтобы продолжить настройку пароля. Обратите внимание, что эта ссылка действительна только в течение следующего часа.
  +button(resetURL, 'Создать новый пароль→')
  p Если вы не можете нажать кнопку выше, пожалуйста, перейдите по ссылке #{resetURL}
  br
  p Если вы не запрашивали это письмо, просто проигнорируйте его.
