extends layout

block content
  .inner
    h2= title
    .map
      .autocomplete
        input.autocomplete__input(type="text" placeholder="Введите место для поиска" name="geolocate")
      #map
        p Загрузка карты...
