extends layout

block content
  .inner
    form.form(method="POST")
      h2 Сброс пароля
      label(for="password") Новый пароль
      input(type="password" name="password")
      label(for="password-confirm") Подтвердите пароля
      input(type="password" name="password-confirm")
      input(type="submit" value="Обновить пароль →")
