mixin loginForm()
  form.form(action="/login" method="POST")
    h2 Логин
    label(for="email") Адрес электронной почты
    input(type="email" name="email")
    label(for="password") Пароль
    input(type="password" name="password")
    input.button(type="submit" value="Вход →")
